@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

a { text-decoration: none; }
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}

@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
  background: #f8fafc;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.75em;
  font-size: 14pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

header {
  height: 10vh;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

menu {
  display: flex;
}

menu div {
  margin-left: 5vw;
  position: relative;
  font-size: 20px;
  font-weight: 600;
}

menu div:hover::after {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  left: 40%;
  border-bottom: 4px solid #FFF;
}

menu div:hover {
  cursor: pointer;
  transform: translateY(-1px);
}

main {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1024px) {
  main {  width: 80%; }
}

.content__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__wrapper--logo {
  width: 90vw;
}

.content__wrapper--partners {
  margin-top: 80px;
  justify-content: space-evenly;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .content__wrapper--partners { flex-direction: column; }
  .content__wrapper--partners a { margin: 20px; }
  h2 { text-align: center; }
}

.content__wrapper--separator {
  margin: 80px 0;
  border: 0;
  border-top: 1px solid #ddd;
}

.content__wrapper-title {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -4px;
  line-height: 77px;
  padding-bottom: 20px;
}

.content__wrapper-subtitle {
  width: 400px;
  letter-spacing: -1px;
}

.section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
  position: relative;
  height: 500px;
}

.section__wrapper-container {
  background: #FFF;
  width: 90vw;
  height: 500px;
  box-shadow: -1px 15px 30px -12px black;
  top: -40px;
  border-radius: 4px;
  position: absolute;

  padding: 25px;
  justify-content: space-between;
  display: flex;
}

.section__wrapper img {
  width: 400px;
  border-radius: 3px;
  box-shadow: -1px 15px 30px -12px black;
  filter: grayscale();
  transition: filter .8s;
}

.section__wrapper img:hover {
  filter: none;
  transition: filter .8s;
}

.section__wrapper-content {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  color: #333;
  padding: 50px;
  height: 100%;
}

.section__wrapper-content i {
  font-size: 130px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  margin: 0 10px;
}

footer a {
  color: #FFF;
  margin-left: 5px;
}

button, a.button {
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #359173;
  color: #359173;
  background: transparent;
  line-height: 1em;
  padding: 0.6em 0.9em;
  transition: all 0.3s ease-in-out;
}

button:hover, a.button:hover {
  border-color: #2A735B;
  color: #2A735B;
}

form {
  display: flex;
  flex-direction: column;
  width: 50% !important;
}

textarea {
  margin: 20px 0;
}

textarea, input {
  height: 70px;
  border: 1px solid #ddd;
  font-size: 0.8em;
  width: 100%;
  padding: 0.9em;
}

textarea:-moz-placeholder { padding: 0.9em; }
textarea::-moz-placeholder {  padding: 0.9em; }
textarea:-ms-input-placeholder {padding: 0.9em; }

footer {
  background: #333;
  color: #FFF;
}
